@charset "UTF-8";

/*
em HTML é id = em CSS é # apenas um elemento
em HTML é class = em CSS é . posso ter varios elementos 
*/

body {
    background-color: rgb(205, 255, 203);
    text-align: arial, helvetica, serif ;
}

h1{
    color: #1e402f;
}

h1#principal {
    text-align: center;
    background-color: #3c805e;
    color:white;
}

h2{
    color: #3c805e;
}
.basico {
    color: #3c805e;
    font-weight: bold;
}
.intermediario {
    color: #80793c;
    
}
.avancado {
    color: #803c3c;
}